* {
    box-sizing: border-box;
}
#viewport{
  touch-action: none;
}
head {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
 .fullscreen-div { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  padding: 20px;
  width: 100%;
}
body {    
    position: relative;
    overflow: visible;
    background: #000000;
    margin: 10px;
    padding: 10px;
}
.item1, .item2, .item3 {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.item1:hover, .item2:hover, .item3:hover {
  transform: scale(0.1);
   opacity: 100;
  transform: translateY(-10%);
  z-index: 10000;
}
.tooltip {
   position: absolute;
  top: 50%;
  left: 10%; 
  transform: translateY(-30%) translateX(50%)  scale(0.95);
   z-index: 10000;

  width: 300px;
  padding: 15px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 8;
  font-size: 15px;

  background: rgba(255, 255, 255, 0.617);
  color: rgb(0, 0, 0);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.item1:hover .tooltip,
.item2:hover .tooltip,
.item3:hover .tooltip  {
 opacity: 1;
  transform: translateX(-50%) translateY(0) opacity(100);
  z-index: 10000;
}

@media (max-width: 600px) {
  .tooltip {
    font-size: 13px;
    padding: 10px;
  }
}
